main {
    max-width: 1300px;
    margin: 0 auto;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}

section {
    margin: 30px auto;
}

.login {
    margin-bottom: 30px;
}

.person {
    display: block;
}