body {
    background-color: #e6f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-display: block;
}

header {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 100%;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    min-height: 60vh;
    max-height: auto;
}

form {
    display: none;
}

input, button {
    width: auto;
    margin: 5px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}

button {
    margin: 10px 0;
    width: auto;
    background-color: #d7e5e5;
    border: none;
    border-radius: 5px;
}

fieldset {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}

section {
    margin: 30px auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    padding: 10px 0;
    list-style-type: none;
}

.meeting-item, .note-item, .goal-item, .people-item {
    padding: 10px;
    background-color: #edf7f7;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(107,107,107,0.28);
    margin-bottom: 10px;
}

.meeting-item:nth-child(2n), .note-item:nth-child(2n), .goal-item:nth-child(2n), .people-item:nth-child(2n) {
    background-color: #e6f4f4;
}

footer {
    height: 120px;
    max-width: 100%;
    text-align: center;
}

.header__logo {
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
}

.header__title {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    font-weight: bold;
    font-display: block;
}

.header__subtitle {
    font-size: 20px;
}

.header__logo-wrapper, .header__title-wrapper {
    margin: 0;
    padding: 0;
}

#login {
    display: inline-block;
}

#logout {
    display: none;
}

.alert {
    font-weight: bold;
}

.alert_text-success {
    color: #60db66;
}

.alert__text-error {
    color: #db6060;
}

.header__no-account {
    margin: -20px 0 20px 0;
}

.header__account {
    margin: -20px 0 20px 0;
    display: none;
}

.features__header {
    margin-top: 20px;
    font-size: 20px;
}

.features__img {
    width: 200px;
    height: 200px;
}

.features__text {
    font-size: 15px;
}

.user__title {
    font-family: 'Righteous', cursive;
    font-size: 35px;
    font-weight: bold;
}

.person__header {
    margin-bottom: 30px;
}

.person__title {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    font-weight: bold;
}

.person__img, .meetings__img, .notes__img, .goals__img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.people-section, .meetings-section, .notes-section, .goals-section, .meetings-section-people {
    background-color: #e6f4f4;
    font-size: 15px;
    text-decoration: underline;
    border: none;
    text-align: center;
}

.js-notes, .js-goals, .js-files, .js-meetings-people, .js-people, .js-meetings {
    display: none;
}

.delete > .fas {
    color: #db6060;
}

.edit {
    margin: 0 5px;
}

.edit > .fas {
    color: #5faad8;
}

.goal-complete > .fas {
    color: #60db66;
}

.completeBy, .createdAt {
    font-weight: bold;
}

.completed {
    color: #6b6b6b6b;
}

.completed > p {
    text-decoration: line-through;
    font-style: italic;
}

.completed > .fas {
    color: #6b6b6b6b;
}

.footer__wrapper {
    padding: 20px;
}

.footer__credits {
    display: inline-block;
    font-size: 5px;
}