body {
    text-align: center;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 15px;
}

section {
    margin: 30px auto;
}

li {
    margin: 15px 0;
    list-style-type: none;
}

.js-notes, .js-goals, .js-files, .js-meetings-people, .js-people, .js-meetings {
    display: none;
}

form {
    display: none;
}

.login {
    margin-bottom: 30px;
}

.completeBy, .createdAt {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

